.profile-bar-unhover-container {
  width: 100%;
  height: 400px;
  left: 85%;
  top:85%;
  display: inline;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.profile-bar-unhover-container1 {
  flex: 0 0 auto;
  width: 238px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  flex-direction: column;
  justify-content: center;
  
}
.profile-bar-unhover-navlink {
  display: contents;
}
.profile-bar-unhover-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.profile-bar-unhover-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-round);
}
.profile-bar-unhover-navlink1 {
  display: contents;
}
.profile-bar-unhover-dashboard {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.profile-bar-unhover-icon02 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
}
.profile-bar-unhover-become-seller {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.profile-bar-unhover-icon04 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
}
.profile-bar-unhover-navlink2 {
  display: contents;
}
.profile-bar-unhover-add-new-freelance {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.profile-bar-unhover-icon06 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
}
.profile-bar-unhover-navlink3 {
  display: contents;
}
.profile-bar-unhover-setting-personal-info {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.profile-bar-unhover-icon08 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
}
.profile-bar-unhover-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
.profile-bar-unhover-icon10 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
}
.profile-bar-unhover-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
}
.profile-bar-unhover-icon12 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unitandahalfunit);
}
.profile-bar-unhover-text6 {
  color: var(--dl-color-secondary-400);
}
@media(max-width: 1600px) {
  .profile-bar-unhover-container {
    width: 234px;
    height: 298px;
  }
}
